@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #fdc04c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply rounded-full bg-primary text-white border-none hover:text-white py-2 px-4 font-extrabold text-base tracking-wide
}
button[disabled] {
  @apply opacity-50
}

.bg-primary {
    background-color: var(--primary)
}

.text-primary {
    color: var(--primary)
}
